@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
    margin-top: 0;
    font-family: Acme, sans-serif;
}

#container {
    max-width: 100%;
    margin: 0% 10%;
}

.logo {
    max-width: 70%;
    margin: 0% 15%;
}

a:hover {
    text-decoration: underline;
}

.menu {
    float: right;
    margin: 0% 15%;
}

.menu ul li {
    display: inline;
    font-size: 14px;
    list-style: none;
}

.menu ul li a {
    padding: 2px 30px;
    display: inline;
    font-size: 20px;
    background-color: #b4c1d3;
    color: rgb(38, 19, 105);
    text-decoration: none;
    border-bottom: 3px solid #110233;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.box {
    margin: 0% 15%;
}

#form1 {
    position: relative;
    width: 100%;
}

#form1 input.txtNm {
    margin-top: 2%;
    margin-left: 1%;
    width: 90%;
}

#form1 input.txtEnd {
    margin-top: 2%;
    margin-left: 1%;
    width: 50%;
}

#form1 input.txtCidade {
    margin-top: 2%;
    margin-left: 1%;
    width: 30%;
}

#form1 select.listUf {
    margin-top: 2%;
    margin-left: 1%;
    width: 25%;
}